@mixin width-with-spacing() {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

$text-main-color: #060b35;
$text-secondary-color: #616070;

html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  color: $text-main-color;
}

body {
  margin: 0;
  padding: 0;
}

.card {
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #f3f3f3;
  border-radius: 5px;

  padding: 32px 16px 16px;

  &_image {
    height: 134px;
    width: 160px;

    margin: 0 auto;
  }

  &_title {
    margin-top: 40px;

    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    color: $text-main-color;
  }

  &_product-code {
    margin-top: 4px;

    @include width-with-spacing;

    font-size: 10px;
    color: $text-secondary-color;
  }

  &_rate {
    margin-top: 16px;

    @include width-with-spacing;

    align-items: flex-end;
    font-size: 10px;
  }

  &_price {
    margin-top: 24px;
    font-size: 16px;
    line-height: 18px;

    @include width-with-spacing;

    &_title {
      color: $text-secondary-color;
      font-size: 12px;
    }

    &_amount {
      font-weight: 700;
      font-size: 16px;
    }
  }

  &_button_buy {
    margin-top: 16px;

    @include width-with-spacing;

    justify-content: center;
    background-color: #00acdc;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      background-color: #fff;
      border: 1px solid #00acdc;
      color: #00acdc;
      font-weight: 700;
    }
  }
}

.stars {
  display: flex;
}

.stars__star {
  box-sizing: border-box;
  display: flex;
  background-image: url('../images/star.svg');

  background-repeat: no-repeat;
  background-position: center;

  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--1 .stars__star:nth-of-type(-n + 1) {
  background-image: url('../images/star-active.svg');
}

.stars--2 .stars__star:nth-of-type(-n + 2) {
  background-image: url('../images/star-active.svg');
}

.stars--3 .stars__star:nth-of-type(-n + 3) {
  background-image: url('../images/star-active.svg');
}

.stars--4 .stars__star:nth-of-type(-n + 4) {
  background-image: url('../images/star-active.svg');
}

.stars--5 .stars__star:nth-of-type(-n + 5) {
  background-image: url('../images/star-active.svg');
}
